.footer
    position: relative
    overflow: hidden
    height: 30rem
    // background: url('../../img/background-footer.svg') top/cover no-repeat
    &__box-image
        position: absolute
        height: 100%
        width: 100%
        z-index: -1
    &__img
        height: 100%
        width: 100%
        display: block
        object-fit: cover